@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    @apply font-medium tracking-wide text-sky-500 underline transition-colors duration-200
  }
  
  .default{
    @apply font-medium tracking-wide text-gray-700  transition-colors duration-200 hover:text-cyan-600
  }
  @media only screen and (max-width: 576px) {
 
}